@using BlogApp.Enum
@model BlogApp.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BlogId" class="control-label"></label>
                <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
                <span asp-validation-for="BlogId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <textarea asp-for="Title" class="form-control"></textarea>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <textarea asp-for="Abstract" class="form-control"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="ReadyStaus" class="control-label"></label>
                <select asp-for="ReadyStaus" class="form-control" asp-items="Html.GetEnumSelectList<ReadyStatus>()"></select>
                <span asp-validation-for="ReadyStaus" class="text-danger"></span>
            </div>




            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label class="control-label">
                            Manage Tags
                        </label>
                    </div>

                </div>


                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form_control" id="TagEntry" style="width:200px;" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <button onclick="AddTag()" name="Add" type="button" class="btn btn-primary btn-sm" style="width: 50%;">Add</button>
                            </div>
                            <div class="col">
                                <button onclick="DeleteTag()" name="Delete" type="button" class="btn btn-primary btn-sm" style="width: 50%;">Delete</button>
                            </div>

                        </div>


                    </div>


                    <div class="col">
                            <select class="btn-block" name="TagValues" id="TagList" multiple style="width: 300px;"></select>
                        </div>
                    @*<select class="btn-block" name="TagValues" id="TagList" multiple style="width: 300px;">
                        @if (ViewData["TagValues"] != null)

                            {
                                var tagValues = '@ViewData["TagValues"]';
                                var allValues = tagValues.ToString().Split(",");
                                foreach (var tagValue in allValues)
                                {
                                <option>@tagValue</option>
                            }
                        }
                    </select>*@


                </div>
            </div>





            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input file="file" name="NewImage" asp-for="Image" class="form-control" />
                <span asp-validation-for="ImageData" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts{

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>

    

    <script>

    let tagValues ='@ViewData["TagValues"]';


        $(document).ready(function () {
            $('#Content').summernote({
                placeholder: "Content"
            });
        });</script>

    <script src="~/js/Custom.js">

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
